/*
 * Estilos reutilizables
 */

 .text-menu{
 	margin-top: 12px;
 	font-size: 25px;
 }

 .inicio{
 	padding-top: 210px;
 	padding-bottom: 110px;
 }

.boot{
	font-size: 50px;
	color: white;
}

.hr-white, .hr-blue{
	border: 2px solid white;
	width: 20%;
	text-align: center;
}

.hr-blue{
	border: 2px solid #2C3E50;
}

h2, .col-6 p{
	font-family: 'Raleway', sans-serif;
 	color: white;
 	padding:10px;
 }

.enlace a{
 	color: white;
 	border: 2px solid white;
 	font-size: 20px;
 	padding: 10px 15px;
 	border-radius: 10px;
 	text-decoration: none;
 	margin-left: 35%;
 }

.enlace a:hover{
    background-color: white;
    color: #18BC9C;
 }

.text-portafolio, .text-about, .text-contact{
	color: #2C3E50;
	text-align: center;
	font-size: 40px;
}

.text-about{
	color: white;
}

.about{
 	background-color: #18BC9C;
 	color: white;
 	padding: 30px 150px 80px;
 }


.container{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

.row:before, .row:after{
	content: "";
	display: table;
}

.row:after{
	clear: both;
}

.container .row{
	cursor: pointer;
}

.imagen{
	width: 100%;
}

.col-4, .col-6, .col-4x{
	width: 33.333333%;
	min-height: 7px;
	float: left;
	padding: 20px;
	margin-bottom: 30px;
}

.col-6{
	width: 50%; 
}

.col-12{
	width: 100%;
	text-align: center;
}

.copy{
	background-color: #18222b;
	font-family: 'Raleway', sans-serif;
	padding: 20px;
	margin: 0 auto;

}	

.col-4x .fa {
	border: 2px solid white;
    padding: 10px;
    border-radius: 100%;
    font-size: 25px;
    margin: 10px;
}

.col-4x .fa:hover{
	background-color: white;
	color: #18BC9C;
}

.col-4x .fa-facebook{
    padding: 10px 15px;
}

.col-4x .fa-google-plus{
	padding: 10px 5px;
}

footer .col-4x p{
	font-family: 'Raleway', sans-serif;
}

footer .col-4x p a{
	color: #18BC9C;
}



/*MODAL*/

#imagenesModal{
	background-color: white;
	width:100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

#imagenesModal .modalcito, #imagenesModal h1{
	width: 30%;
	margin: 0 auto;
	text-align: center;
	padding-top: 100px;
}

#imagenesModal .cerrar{
	position: absolute;
	color: #d4d0d0;
	top: 20px;
	right: 20px;
	font-size: 45px;
	cursor: pointer;
}

#imagenesModal .cerrar img{
	width: 60px;
}

.claseModal{
	display: none;
}