/***NAV**/
 #logo{
 	margin-top: 12px;
 	font-size: 25px;
 	transition: all ease 0.4s;
 }
 .tamañoLetra{
 	font-size: 15px !important;
 	transition: all ease 0.4s;
 }
 .tamañoNav{
 	padding: 15px !important;
 	transition: all ease 0.4s;
 }
/***HEADER**/
 .inicio{
 	padding-top: 210px;
 	padding-bottom: 110px;
 }

.boot{
	font-size: 50px;
	color: white;
}

.estrella{
    display: block;
    width: 50%;
    height: 8px;
    margin: auto;
}

.estrella:after{
	position: relative;
    top: -23px;
    content: "\f005";
    font-family: 'FontAwesome';
    font-size: 3em;
}

.estrellaBlanca{
	background-color: #fff;
}
.estrellaBlanca:after{
	background-color: #18BC9C ;
	color: #fff;
}
h2, .col-6 p{
	font-family: 'Raleway', sans-serif;
 	color: white;
 	padding:10px;
 }
/***PORTAFOLIO**/
.portafolio{
	margin-bottom: 50px;
}
.text-portafolio, .text-about, .text-contact{
	color: #2C3E50;
	text-align: center;
	font-size: 40px;
}

.estrellaAzul{
    background-color: #2C3E50;
}
.estrellaAzul:after{
	background-color: #fff;
	color: #2C3E50;
	left: 47%;
}
.extra:after{
	left: 47%;
}
.imagen{
	width: 100%;
}
/***ABOUT***/
.about{
 	background-color: #18BC9C;
 	color: white;
 	padding: 30px 150px 80px;
 }

.text-about{
	color: white;
}
.enlace a{
 	color: white;
 	border: 2px solid white;
 	font-size: 20px;
 	padding: 10px 15px;
 	border-radius: 10px;
 	text-decoration: none;
 	margin-left: 38%;
 }

.enlace a:hover{
    background-color: white;
    color: #18BC9C;
 }
/***FOOTER***/
.copy{
	background-color: #18222b;
	font-family: 'Raleway', sans-serif;
	padding: 20px;
	margin: 0 auto;

}	
/***CONTAINER-ROW-COL***/
.container{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

.row:before, .row:after{
	content: "";
	display: table;
}

.row:after{
	clear: both;
}

.container .row{
	cursor: pointer;
}

.col-4, .col-6, .col-4x{
	width: 33.333333%;
	min-height: 7px;
	float: left;
	padding: 20px;
	margin-bottom: 30px;
}

.col-6{
	width: 50%; 
}

.col-12{
	width: 100%;
	text-align: center;
}

.col-4x .fa {
	border: 2px solid white;
    padding: 10px;
    border-radius: 100%;
    font-size: 25px;
    margin: 10px;
}

.col-4x .fa:hover{
	background-color: white;
	color: #18BC9C;
}

.col-4x .fa-facebook{
    padding: 10px 15px;
}

.col-4x .fa-google-plus{
	padding: 10px 5px;
}

footer .col-4x p{
	font-family: 'Raleway', sans-serif;
}

footer .col-4x p a{
	color: #18BC9C;
}


/*MODAL*/

#imagenesModal{
	background-color: rgba(187, 186, 186, 0.96);
	width:100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

.visible, #imagenesModal h1{
	background-color: #fff;
    padding: 1%;
	width: 40%;
	margin: 3% auto;
	text-align: center;
	border-radius: 2%;
}

.cerrar{
	position: absolute;
	color: #fff;
	top: 20px;
	right: 20px;
	font-size: 45px;
	cursor: pointer;
}

.noVisible{
	display: none;
}