/*
 * Estilos de tu proyecto
 */

 *{
 	box-sizing: border-box;
 }

 body{
 	font-family: 'Archivo Black', sans-serif;
 	margin:0 auto;
 	
 }

nav{
	background-color: #2C3E50;
	position: fixed;
	width: 100%;

}
 ul{
 	list-style: none;
 	float: right;
 }

 ul li{
 	display: inline-block;
 }

 ul li a, .text-menu{
 	display: inline-block;
 	text-decoration: none;
 	color: white;
 	text-align: center;
	padding: 26px;
	cursor: default;
 }

 li a:hover{
 	color: #18BC9C;
 }

 
 header{
 	text-align: center;
 	background: #18BC9C;
 }

input, textarea{
	
	border: none;
	border-top: 1px solid #d4d0d0;
	padding: 20px;
	font-size: 20px;
	width: 50%;
	resize: none;
}

textarea{
	border-bottom: 1px solid #d4d0d0;
}

button[type="submit"]{
	background-color: #18BC9C;
	color: white;
	padding: 10px;
	font-size: 20px;
	margin:15px 310px;
	border: none;
	border-radius: 10px;
}


footer{
	background-color: #2C3E50;
	color: white;
	text-align: center;
}



