 *{
 	box-sizing: border-box;
 }

 body{
 	font-family: 'Montserrat', sans-serif;
 	margin:0 auto;
 	
 }

nav{
	background-color: #2C3E50;
	position: fixed;
	width: 100%;
	padding: 26px;
	z-index: 1;
	transition: all ease 0.4s;

}

 ul{
 	list-style: none;
 	float: right;
 }

 ul li{
 	display: inline-block;
 }

 ul li a, #logo{
 	display: inline-block;
 	text-decoration: none;
 	color: white;
 	text-align: center;
	margin-right: 26px;
	cursor: default;
 }

 li a:hover{
 	color: #18BC9C;
 }

 
header{
 	text-align: center;
 	background: #18BC9C;
 }

section{
 	margin-bottom: 35px;
 }
form{
	margin-top: 5%;
}
input, textarea{
	border: none;
	border-bottom: 1px solid #d4d0d0;
	padding: 20px;
	font-size: 20px;
	width: 50%;
	resize: none;
}
input:focus, textarea:focus{
	outline-color: #fff;
	border-bottom: 1px solid #d4d0d0;

}

textarea{
	border-bottom: 1px solid #d4d0d0;
}

button[type="submit"], .btnModal{
	background-color: #18BC9C;
	color: white;
	padding: 10px;
	font-size: 20px;
	margin: auto 30%;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

footer{
	background-color: #2C3E50;
	color: white;
	text-align: center;
	padding: 50px 0 0 0;
}



